/* ul li:nth-child(2n + 1){
    border: 2px solid orchid;
} */

/* 
impares
ul li:nth-child(odd){
    border: 2px solid orchid;
} */

/* 
pares
ul li:nth-child(even){
    border: 2px solid orchid;
} */

ul li:nth-child(4n + 4){
    border: 2px solid orchid;
}